Source: helloworld
Section: misc
Priority: optional
Maintainer: Iliya Gorshkov <iliya.gorshkov@yandex.ru>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/iliya35/helloworld

Package: helloworld
Version: 1.2
Architecture: any
Multi-Arch: foreign
Depends: libc6, vim, ${misc:Depends}, ${shlibs:Depends}
Description: Print "Hello, World!" line
